section.navbar.custom-navbar.navbar-fixed-top {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
}

.navigation {
  display: contents;
}

ul.nav.navbar-nav.navbar-nav-first {
  display: flex;
  flex-direction: row;
}

ul.nav.navbar-nav.navbar-right {
  display: contents;
}

.container {
  padding: 0;
}

.custom-navbar .navbar-nav.navbar-nav-first {
  margin-left: 0;
}

.social-icons {
  display: flex;
}

.custom-navbar .section-btn {
  padding: 15px;
  margin-left: 0;
}
