.page {
  width: 100vw;
  max-width: 1170px;
  text-transform: capitalize;
  margin: 0 auto;
}

.page span {
  color: grey;
  font-size: 1.3rem;
}

.page article {
  margin: 2rem 0;
  box-shadow: 1px 1px 5px 1px lightgrey;
  border-radius: 4px;
  padding: 1rem 1rem 2rem 1rem;
  background-color: #fff;
  text-align: center;
}

.page div {
  height: 15rem;
}

.page h3 {
  padding-top: 1rem;
}

.page button a {
  text-decoration: none;
  color: #3f51b5;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .page {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
